name: Build and Release CV

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: 0.14

      - uses: fontist/setup-fontist@v2
      - run: fontist install "Source Sans Pro"
      - run: fontist install "Source Sans 3"
      - run: fontist install "Font Awesome 7 Free"

      - name: Compile CV and Letter
        run: |
          typst compile cv.typ cv.pdf
          typst compile letter.typ letter.pdf

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            cv.pdf
